<p-card>
    <p-toast></p-toast>

    <div class="flex justify-between items-center mb-5">
        <h1 class="text-2xl font-bold">{{ titulo }}</h1>
        <p-button label="Voltar" icon="pi pi-arrow-left" severity="secondary" routerLink="/clientes"></p-button>
    </div>

    <p-tabs *ngIf="isAlteracao" [(value)]="activeTab">
        <p-tablist>
            <p-tab value="0">Dados Pessoais</p-tab>
            <p-tab value="1">Visitas</p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel value="0">
                <ng-container *ngTemplateOutlet="formCliente"></ng-container>
            </p-tabpanel>

            <p-tabpanel value="1">
                <p-button label="Adicionar visita" icon="pi pi-plus" (onClick)="abrirDialog()"></p-button>
                <p-table [value]="visitasRows" [loading]="loadingVisitas" [paginator]="true" [rows]="10"
                    [responsiveLayout]="'scroll'">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="w-12rem">Data</th>
                            <th>Observações</th>
                            <th class="text-center!">Produtos distintos</th>
                            <th class="text-center!">Ações</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-r>
                        <tr >
                            <td (click)="abrirDetalhe(r)" class="cursor-pointer">{{ formatData(r.data_visita) }}</td>
                            <td (click)="abrirDetalhe(r)"class="cursor-pointer">{{ r.observacoes || '-' }}</td>
                            <td (click)="abrirDetalhe(r)" class="cursor-pointer text-center!">{{ r.qtdProdutosDistintos }}</td>
                            <td class="text-center!">
                                <button pButton icon="pi pi-print" class="p-button-text"
                                    (click)="imprimirVisita(r.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-dialog [(visible)]="dialogAberto" [modal]="true"
                    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
                    header="{{ editando ? 'Editar visita' : 'Nova visita' }}" [maximizable]="true">
                    <form [formGroup]="visitasForm" class="grid gap-3 min-h-fit">
                        <div>
                            <label class="block mb-1">Data da visita</label>
                            <p-datepicker formControlName="data" dateFormat="dd/mm/yy" [showIcon]="true"></p-datepicker>
                        </div>

                        <div>
                            <label class="block mb-1">Observações</label>
                            <textarea class="w-150 resize-none" pInputTextarea rows="3"
                                formControlName="observacoes"></textarea>
                        </div>

                        <p-button severity="info" label="Adicionar produto" (onClick)="addItem()" icon="pi pi-plus"
                            [disabled]="somenteLeitura"></p-button>

                        <div formArrayName="itens">
                            <p-table [value]="itens.controls" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="w-1px">Produto</th>
                                        <th class="w-1px">Possuía</th>
                                        <th class="w-1px">Entregue</th>
                                        <th class="w-1px">Vendido</th>
                                        <th class="w-1px">Retirado</th>
                                        <th class="w-1px">Possui agora</th>
                                        <th class="w-1px">Valor (R$)</th>
                                        <th class="w-1px"></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-row let-i="rowIndex">
                                    <tr [formGroupName]="i">
                                        <td>
                                            <p-select formControlName="produtoId" name="produto" [options]="produtos"
                                                optionLabel="nome" optionValue="id" [filter]="true" filterBy="nome"
                                                [showClear]="true" placeholder="Selecione um produto"
                                                panelStyleClass="top-auto! bottom-full! origin-bottom! -translate-y-11"
                                                appendTo="body">
                                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                                    <div class="flex items-center gap-2">
                                                        <div>{{ selectedOption?.nome }}</div>
                                                    </div>
                                                </ng-template>
                                                <ng-template pTemplate="item" let-produto>
                                                    <div class="flex items-center gap-2">
                                                        <div>{{ produto.nome }}</div>
                                                    </div>
                                                </ng-template>
                                            </p-select>
                                        </td>

                                        <td><input pInputText type="number" min="0" formControlName="possuia"
                                                (input)="recalc(i)" class="w-15" />
                                        </td>
                                        <td><input pInputText type="number" min="0" formControlName="entregue"
                                                (input)="recalc(i)" class="w-15" />
                                        </td>
                                        <td><input pInputText type="number" min="0" formControlName="vendido"
                                                (input)="recalc(i)" class="w-15" />
                                        </td>
                                        <td><input pInputText type="number" min="0" formControlName="retirado"
                                                (input)="recalc(i)" class="w-15" />
                                        </td>

                                        <td class="flex justify-center">
                                            <input pInputText formControlName="possuiAgora" readonly
                                                class="w-15 items-center text-center" />
                                        </td>

                                        <td>
                                            <input pInputText type="text" formControlName="valor" readonly
                                                class="w-20 text-center"
                                                [value]="getItem(i).get('valor')?.value | currency:'BRL':'symbol':'1.2-2'" />
                                        </td>

                                        <td class="text-right">
                                            <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                                                type="button" (click)="removeItem(i)"
                                                [disabled]="somenteLeitura"></button>
                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td class="text-left font-medium">Totais</td>
                                        <td class="text-center!">{{ total('possuia') }}</td>
                                        <td class="text-center!">{{ total('entregue') }}</td>
                                        <td class="text-center!">{{ total('vendido') }}</td>
                                        <td class="text-center!">{{ total('retirado') }}</td>
                                        <td class="text-center!">{{ total('possuiAgora') }}</td>
                                        <td class="text-center!"></td>
                                        <td class="text-center!"></td>
                                    </tr>

                                </ng-template>
                            </p-table>
                        </div>

                        <div class="flex justify-self-start gap-2 mt-10">
                            <p-button severity="danger" label="Cancelar" class="p-button-text"
                                (onClick)="fecharDialog()"></p-button>
                            <p-button severity="success" label="Salvar" icon="pi pi-check"
                                [disabled]="somenteLeitura || visitasForm.invalid || itens.length === 0"
                                (onClick)="salvarVisita()"></p-button>
                        </div>
                    </form>
                </p-dialog>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>

    <ng-container *ngIf="!isAlteracao">
        <ng-container *ngTemplateOutlet="formCliente"></ng-container>
    </ng-container>
</p-card>

<ng-template #formCliente>
    <form class="w-full" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div class="mb-2">
            <label class="block font-semibold mb-1" for="nome">Nome</label>
            <input pInputText id="nome" formControlName="nome" placeholder="Ex. Booster" class="w-full" />
            <small class="text-red-500" *ngIf="isCampoInvalido('nome')">Campo obrigatório</small>
        </div>

        <div class="mb-2">
            <label class="block font-semibold mb-1" for="email">Email</label>
            <input pInputText id="email" formControlName="email" placeholder="Ex. BancaZapp@gmail.com" class="w-full" />
            <small class="text-red-500" *ngIf="isCampoInvalido('email')">Campo obrigatório</small>
        </div>

        <div class="mb-2">
            <label class="block font-semibold mb-1" for="telefone">Telefone</label>
            <input pInputText id="telefone" formControlName="telefone" placeholder="Ex. (11) 99999-9999"
                class="w-full" />
        </div>

        <div class="mb-2">
            <label class="block font-semibold mb-1">Localidade *</label>
            <p-dropdown [options]="localidades" optionLabel="nome" optionValue="nome"
                placeholder="Selecione uma localidade" formControlName="localidade" class="w-full">
            </p-dropdown>
            <small *ngIf="isCampoInvalido('localidade')" class="text-red-500">Campo obrigatório</small>
        </div>

        <div class="mb-2">
            <label class="block font-semibold mb-1" for="endereco">Endereço</label>
            <input pInputText id="endereco" formControlName="endereco" placeholder="Ex. Rua das Flores, 123"
                class="w-full" />
        </div>

        <div class="mb-2">
            <label class="block font-semibold mb-1" for="comissao">Comissão padrão</label>
            <input pInputText id="comissao" type="number" formControlName="comissao" placeholder="Ex. 15"
                class="w-full" />
            <small class="text-red-500" *ngIf="isCampoInvalido('comissao')">Campo obrigatório</small>
        </div>

        <div class="mt-4 flex justify-end">
            <p-button type="submit" label="{{ botaoTexto }}" severity="success"></p-button>
        </div>
    </form>
</ng-template>